<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>

<meta charset="UTF-8">
<link rel="stylesheet" href="style.css"></link>
<title>Tester</title>
</head>

<body>
  <div id="app">

    <div class="container">

      <h1>Admin Tester</h1>

      <div class="form-container">

<!--         <div class="model-container">
          <label for="serviceInput">Service</label>
          <input v-model="service" id="serviceInput" focus="true" />
        </div>

        <div class="model-container">
          <label for="methodInput">Method</label>
          <input v-model="method" id="methodInput" focus="true" />
        </div> -->


        <div class="model-container">
          <select v-model="service">
            <option disabled value="">Сервис</option>
            <option v-for="service in services">{{service}}</option>
          </select>
        </div>
        <div class="model-container">
          <select v-model="method">
            <option disabled value="">Метод</option>
            <option v-for="method in removeJsonMethods">{{method}}</option>
          </select>
        </div>

        <button class="send-button" @click="send">{{ actionName }}</button>

        <div class="switch-container" v-if="false">
          <span @click="actionName = 'ДЕРНУТЬ'">Get</span>
          <span @click="actionName = 'СОЗДАТЬ'">Create</span>
        </div>

        <div class="model-tab" v-if="service == 'Page' && method == 'Get'">
          <div class="model-container">
            <textarea cols=80 rows=20 id="output" ref="textarea" :value="schemaPretty">
            </textarea>
          </div>
        </div>


        <template v-if="service == 'Page' && method == 'Create'">
          <div class="model-tab">
            <div class="model-container">
              <label for="modelName">Name</label>
              <input v-model="method" id="pageName" focus="true" />
            </div>
            <div class="model-container">
              <label for="modelContent">Content</label>
              <textarea cols=80 rows=20 id="output" ref="textarea" :value="schemaPretty">
              </textarea>
            </div>
          </div>
        </template>



        <div class="model-tab" v-if="actionName == 'ДЕРНУТЬ'">
          <div class="model-container">
            <label for="methodInput">Method</label>
            <input v-model="method" id="methodInput" focus="true" />
            <label for="methodInput">Method</label>
            <input v-model="method" id="methodInput" focus="true" />
            <label for="methodInput">Method</label>
            <input v-model="method" id="methodInput" focus="true" />
          </div>
        </div>


        <div>
          <div class="add-block">+</div>
        </div>

      </div>



      status: <span id="status">connecting...</span>
        <span>{{ name }}</span>

    </div>
    <div class="response">

      <h1>Response Data</h1>

      <div class="server-messages">
        <pre>{{response}}</pre>
      </div>


    </div>
  </div>

  <script type="text/javascript" src="channel.js"> </script>
  <script type="text/javascript" src="app.js"></script>
</body>

</html>
