* {
  margin: 0;
  padding: 0;
}

textarea {
  top: 20px;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  font-size: 1.5rem;
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  vertical-align: top;
}

.app {




}

.update-banner {
  padding: 100px;
  cursor:pointer;
}

.container {
  max-width: 1050px;
  margin: 0 auto;
  text-align: center;
  margin-left: 5%;
}

.container, .response {


}

.response {
  height: 100%;
}

.form-container {
  margin: 20px;
}


.model-container {
  display: inline-block;
  font-size: 1.4rem;
  width: 100%;

}

.model-container input, select {
  width: 100px;
  height: 20px;
  margin: 5px 10px;
  font-size: 1.4rem;
  padding: 5px;
}


.model-container input {
  display: inline-block;
  border: 1px solid darkgreen;
  width: 400px;
  height: 50px;
  margin: 5px 10px;
  font-size: 1.4rem;
  padding: 5px;
  border-radius: 2px;
}

select  {
  height: 60px;
  width: 120px;
}
.switch-container {
  padding: 20px;
  font-size: 1.4rem;
}
.switch-container span {
  display: inline-block;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  border: 1px solid grey;
}


.model-container label {
  border-radius: 2px;
  display: inline-block;
  width: 200px;
  border: 1px solid darkblue;
  height: 50px;
  line-height: 50px;
  margin: 5px 10px;
  cursor: pointer;
}

.model-tab {

}

.send-button {
  background: transparent;
  border-radius: 2px;
  border: 2px solid darkred;
  width: 150px;
  font-size: 1.1rem;
  font-weight: lighter;
  margin: 10px;
  padding: 12px;
  cursor: pointer;
  outline: none;
}
.send-button.request {
  background: darkred;
  color: white;
  font-size: 1.2rem;
}


.server-messages {
  text-align: left;
  max-width: 400px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.add-block {
  display: inline-block;
  border: 1px solid grey;
  margin: 0 auto;
  font-size: 2.5rem;
  cursor: pointer;
  padding: 10px 30px;
}

.selects-container .model-container {

  display: inline-block;
  width: 150px;


}






